/**global CSS for website */

body
 {
	background-image: "./pics/spots.png";
	background-repeat: repeat;
	font-family: sans-serif, arial, helvetica;

}

h1
 {
 	color: darkcyan;
 	font-style: 3em;
 		
}

h2 
{
font-size: 2em;
color: green;
	
	}

	ul.navbar {
					list-style-type: none;
					padding: 0;
					margin: 0;
					margin-top: 6em;
					position: absolute;
					top: 2em;
					left: 1em;
					width: 9em 
			}	
	
ul.navbar li {
						background: silver;
						margin: 0.5em 0;
						padding: 0.3em;
						border-right: 1em solid black;
		}
ul.navbar a {
						font-size: 1.5em;
						text-decoration: none 
		}

ol.sublink a {
						font-size: 1em;
						text-decoration: none 
		}