@charset "UTF-8";

/* CSS Document */

/*Food CONTENT*/



div.foodContentContainer {

	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:570px;
	top:10px;
	border:thin groove;
	background-color:white;

}

div.tip:before {
	content: "Contains: "
}
div.tip2:before {
	content: "Description: "
}

div.foodHeader {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:590px;
	height:200px;
}

.goodbad img {
	float: right;
	margin-right: 25px;
}

div.foodImage {

	position:absolute;
	top:70px;
	left:15px;
	width:100px;
	height:100px;
}


.foodName {
	/*position:absolute;
	top:15px;
	left:15px;*/
	display: block;
	text-align:left;
	color:#AFD147;
	font-size:35px;
	overflow:hidden;
	width:75%;
	height:40px;
}
.ingridients {
	padding: 3px 0 3px 5px;
	
}


div.foodDescription {
	/*position:absolute;
	top:70px;
	right:15px;*/
	margin-left: 20px;
	width:550px;
	height:auto;
	color:#555;
	text-align:justify;
	overflow:visible;
	font-size:16px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height:20px;
}


/*
div.breedBody {

	position:relative;

	margin-left:auto;

	margin-right:auto;

	width:590px;

	height:250px;

}
*/

/*
div.generalDescription {

	position:relative;

	margin-left:auto;

	margin-right:auto;

	text-align:center;

	width:550px;

}*/



