@charset "UTF-8";
/* CSS Document */

div.breedPanel {
	width:auto;
	height:25px;
	float:left;	
}

/*BREED CONTENT*/

div.breedContentContainer {
	position:relative;
	padding-bottom: 3px;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:auto;
	min-height: 600px;
	max-height: 695px;
	top:10px;
	border:thin groove;
	background-color:white;
}

div.breedHeader {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:590px;
	height:auto;
	overflow:auto;
	
}

div.breedImage {
	/*position: relative;*/
	/*display: inline;*/
	float: right;
	padding: 10px;
	margin-top: 5px;
	/*top:70px;
	left:15px;*/
	width:100px;
	height:100px;
}
.breedImage img { float: right}


div.breedName {
	/*position:absolute; 
	top:15px;
	left:15px;*/
	margin: 15px 0 0 15px;
	text-align:left;
	color:#AFD147;
	font-size:35px;
	overflow:hidden;
	width:575px;
	height:40px;
}

div.breedDescription {
	/*position:relative;*/
	padding: 3px; 
	/*margin: 5px 3px 3px 25px;*/
	display: inline;
	/*top:70px;
	right:15px; */
	float: left;
	clear: none;
	width:450px;
	height:auto;
	color:#555;
	/*text-align:left;*/
	overflow:auto;
	font-size:14px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height:15px;
}

div.breedBody {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:590px;
	height:250px;
}

div.generalDescription {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:550px;
}

table {
	width:500px;
	height:150px;
	text-align:left;
	margin-left:15px;
}

tr {
}

td.field {
	font-size:14px;
	width:100px;
}

td.value {
	font-size:13px;
	width:auto;
}

.clear {
	clear:both;
}
