/* global CSS for website */

body{
	padding: 0;
	margin: 0;
	color:#444;
	font-family: sans-serif, arial, helvetica;
	/*background-color: black;*/

}

hr { display: none; }

.pgWidth{
	width:980px;
}

.pgTitle {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-left:35px;	
}

.center {
	margin: 0 auto;
}

#headerbg {
	/*background: url(../pics/dalmatiancamo.png) repeat; */
	background-color:#EEE;
	border-bottom: solid black 1px;
}
#header {
	height: 98px;
	/*margin: 0 auto;*/
	/*background: url(../pics/headerbg.jpg) no-repeat left top; */
}

/* Menu ===========================================================*/

#menu {
	float: right;
	width: 620px;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
	border-right: 1px solid #AFD147;
}

#menu li.last{
	border:none;
}

#menu a {
	display: block;
	float: left;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color:#222;
}

#menu a:hover { 
	text-decoration: underline; 
}

#menu .current_page_item a {
}


/** LOGO =========================================================*/

#logo {
	float: left;
	width: 260px;
	margin: 0 auto;
	padding-left: 100px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: lowercase;
	font-weight: normal;
	color:#444;
}

#logo p {
	margin-top: -4px;
	text-transform: lowercase;
	font-size: 15px;
	color: #AFD147;
}

#logo h1 {
	padding-top: 10px;
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #AFD147;
}

#logo h1 a {
	text-decoration: none;
	color:#444;
}

/* Content ==============================================*/
.content {
	background:#EEE;
	float:left;
	margin-top:-16px; /*This lines the content up so its top is flush with the header's bottom.  Not sure what other element is causing the need for this adjustment*/
	border-left:thin groove;
	border-right:thin groove;
}

.colLeft{
	float:left;
	margin-left:10px;
	margin-top:15px;
	background-color:white;
}

.colRight{
	float:right;
	border: 3px solid #777;
	margin-right:10px;
	margin-top:15px;
}

.panel{
	border: 3px solid #777777;
}

.panelHoriz{
	width: 640px;
}

.panelVert{
	width:250px;
	height: 600px;
}
/* End Content ==============================================*/

/* Home Page */

#teamBackground{
	height: 200px;
	left:20px;
	top: 50px;
}	
#contactInfo{
	height: 200px;
	left:20px;
}
#healthInfo{
	height: 200px;
	left:20px;
}
#moreResources{
	height: 200px;
	top: 50px;
}


/*FOOTER */
.footer {
	margin-top: 1em;
	padding-top: 1em;
	border-top: thin dotted;
}

ul.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	/*position: absolute;*/
	top: 2em;
	left: 1em;
	width: 9em 
	}

ul.navbar li {
	background: #C0C0C0;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 1em solid black;
	}
	
ul.navbar a {
	font-size: 1.5em;
	text-decoration: none 
	}				

.navbar a:link  {
	color: blue
	}
.navbar a:visited {
	color: #800000;
	}
.navbar a:hover {
	text-decoration: underline; 
	}