
<div class='foodContentContainer'>

	<div class='foodHeader'>
    	
        <div id='name' class='foodName'>
        	
        </div>
		<div id='contains' class="ingridients tip"></div>
		
        <div id='picfile' class='foodImage'>
        	<!-- <img src='' width='100%' height='100%' /> -->
        </div>
		<div id='isGood' class='goodbad'>
			<img src='' width='100' height='100' />
		</div>
    </div>
	<br class="clear" />
	<div id='description' class='foodDescription tip2'>
        
    </div>
</div>