<div class='breedContentContainer'>

	<div class='breedHeader'>
    	<div class='breedImage'>
        	<img src='' width='100%' height='100%' />
        </div>
        <div id='name' class='breedName'>
        	
        </div>
        <div id='description' class='breedDescription'>
        
        </div>
    </div>
    
    <div class='breedBody'>
    	
        <div class='GeneralDescription'>
        	<table>
            <tr><td class='field'>Origin: </td><td id='origin' class='value'></td></tr>
            <tr><td class='field'>Group: </td><td id='group' class='value'></td></tr>
            <tr><td class='field'>Weight: </td><td id='weight' class='value'></td></tr>
            <tr><td class='field'>Height: </td><td id='height' class='value'></td></tr>
            <tr><td class='field'>Temperament: </td><td id='temperament' class='value'></td></tr>
            <tr><td class='field'>Lifespan: </td><td id='lifespan' class='value'></td></tr>
            
            </table>
        </div>
        
    </div>

</div>